html {
  font-size: 62.5%;
}

:root {
  /* Color Pallete */
  --green-darker: #1e3932;
  --green-lighter: #00754a;
  --green-lighter--hover: #008248;
  --background-color__content: #d4e9e2;
  --background-color__headings: #f3f1e7;
  --background-color__article: #f1f8f6;
  --color-accent: #000000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/* Buttons */
.btn {
  background: none;
  border-radius: 50px;
  border: 0.2px solid #000000;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
}

.btn--larger {
  padding: 7px 24px;
}

.btn--primary {
  background-color: var(--green-lighter);
  border-color: var(--green-lighter);
  color: #fff;
  transition: 0.2s ease;
}

.btn--primary:hover {
  background-color: var(--green-lighter--hover);
  border-color: var(--green-lighter--hover);
}

.btn--secondary {
  background-color: var(--green-darker);
  border-color: #fff;
  color: #fff;
  opacity: 0.9;
  transition: 0.2s ease;
}

.btn--secondary:hover {
  background-color: #26443d;
}

.btn--accent {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
  transition: 0.2s ease;
}

.btn--accent:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn--accent--secondary {
  background-color: none;
  color: var(--color-accent);
  border-color: var(--color-accent);
  transition: 0.2s ease;
}

.btn--accent--secondary:hover {
  background-color: var(--background-color__headings);
}

.btn--rewards {
  border: none;
  flex-grow: 1;
}

.btn--extras {
  border: none;
  padding: 0;
}

/* Hamburger Menu */
.menu-btn {
  background-color: #fff;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger {
  background-color: #555;
  width: 60px;
  height: 6px;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  background-color: #555;
  content: "";
  width: 60px;
  height: 6px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* Hamburger Menu Animations */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* Links */
.link-text {
  font-weight: 400;
  text-decoration: underline;
}

.link-text:hover {
  text-decoration: none;
}

.link-text--primary {
  color: var(--green-lighter);
  text-decoration-color: var(--green-lighter);
  opacity: 0.8;
}

.link-text--accent {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
  opacity: 1;
  letter-spacing: 0.75px;
}

/* Inputs */
.inp {
  border-radius: 5px;
  padding: 10px 0;
}

.inp--codes {
  border: 1px solid #999;
  background: none;
  flex-grow: 1;
  z-index: 1;
}

.inp--codes:focus {
  border: 2px solid darkgreen;
}

/* Hero */
.hero {
  background-image: url(/Content/images/hero__mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 90%;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 55rem;
  overflow: hidden;
}

.hero__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.hero__heading {
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

.hero__text {
  margin: 18px 0 0 0;
}

.hero__button {
  margin: 26px 0 0 0;
}

.hero__text-desc {
  color: var(--color-accent);
  letter-spacing: 0.5px;
}

.hero__link-text {
  margin: 16px 0 0 0;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(/Content/images/hero-desktop.png);
    background-color: var(--background-color__content);
    background-position-x: 60%;
    justify-content: flex-start;
  }

  .hero__container {
    margin: auto 2rem;
    align-items: flex-start;
  }

  .hero__heading {
    font-size: 3.6rem;
    text-align: left;
    line-height: 5rem;
    font-weight: 600;
    opacity: 0.85;
  }

  .hero__text {
    font-size: 1.9rem;
  }

  .hero__button {
    font-size: 1.6rem;
  }

  .hero__link-text {
    font-size: 1.9rem;
  }
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
  margin: 5rem 1.6rem;
}

@media screen and (min-width: 768px) {
  .content {
    margin: 10rem 1.6rem;
  }
}

.content__heading {
  margin-bottom: 3rem;
}

.content__heading h2 {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
}

.content__heading p {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.2px;
}

.content__section {
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
}

.content__section__image {
  width: 48px;
  height: 48px;
}

.content__section__description {
  margin-left: 1.5rem;
}

.content__section__description h3 {
  font-size: 1.6rem;
  margin-top: 0;
  letter-spacing: 0.5px;
}

.content__section__description p {
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-bottom: 0;
}

/* Content Extras */
.content__section__image-extras {
  width: 112px;
  height: 112px;
}

.csd__link {
  margin: 1.6rem 0;
}

@media screen and (min-width: 768px) {
  .content__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .content__heading {
    margin-bottom: 4rem;
  }

  .content__heading h2 {
    font-size: 2.8rem;
  }

  .content__heading p {
    font-size: 1.6rem;
  }

  .content__section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content__section__image {
    margin-bottom: 2.5rem;
  }

  .content__section__description h3 {
    font-size: 1.9rem;
    text-align: center;
  }

  .content__section__description p {
    font-size: 1.6rem;
    text-align: center;
  }

  /* Content Extras */
  .content__section__image-extras {
    margin-bottom: 24px;
  }
}

/* Rewards Section */
/* Rewards Header*/
.rewards__header {
  background-color: var(--background-color__article);
  padding: 1.8rem 0;
  box-shadow: 0 3px 3px #777;
}

.rewards__header h3 {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 600;
}

.rewards__stars {
  display: flex;
  flex-direction: row;
}

.rewards__stars__number {
  font-size: 1.9rem;
}

.rewards__stars__star {
  color: #cba258;
  font-size: 1.8rem;
}

/* Rewards Content */
.rewards__content {
  background-color: var(--background-color__content);
  opacity: 0.92;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 0;
}

.rewards__content img {
  width: 100%;
  height: auto;
}

.rewards__content-description h3 {
  font-size: 1.9rem;
}

.rewards__content-description p {
  font-size: 1.4rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  /* Rewards Header*/
  .rewards__header h3 {
    font-size: 2.8rem;
  }

  .rewards__stars__number {
    font-size: 2.4rem;
  }

  /* Rewards Content */
  .rewards__content {
    flex-direction: row;
    align-items: center;
    text-align: left;
  }

  .rewards__content-description {
    padding: 0 1.6rem;
  }

  .rewards__content-description h3 {
    font-size: 2.4rem;
  }

  .rewards__content-description p {
    font-size: 1.6rem;
  }
}

/* Section Ways to Pay */
.pay__container {
  background-color: var(--background-color__headings);
  padding: 1.6rem;
}

.pay__header {
  text-align: center;
  padding: 2rem 1rem;
}

.pay__header h3 {
  font-size: 2.4rem;
  letter-spacing: 0.6px;
}

.pay__header p {
  font-size: 1.4rem;
  letter-spacing: 0.5px;
}

.pay__content {
  margin: 2.5rem 0;
}

.pay__content__price {
  margin-bottom: 3rem;
}

.price {
  font-size: 1.9rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
}

.price__description {
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.pco__container {
  display: flex;
  flex-direction: column;
}

.pay__content__option {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 2.8rem;
}

.pay__content__option img {
  width: 112px;
  height: 158px;
}

.pco__description {
  margin-left: 1.5rem;
  letter-spacing: 0.5px;
}

.pco__description h3 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 0;
}

.pco__description p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .pay__header h2 {
    font-size: 2.8rem;
  }

  .pay__header p {
    font-size: 1.6rem;
  }

  .pay__content {
    margin: 3.5rem 0;
  }

  .pay__content__price {
    margin-bottom: 3rem;
  }

  .price {
    font-size: 2.4rem;
  }

  .price__description {
    font-size: 1.6rem;
  }

  .pco__container {
    flex-direction: row;
  }

  .pay__content__option {
    flex: 1;
    margin-bottom: 2rem;
  }

  .pco__description h3 {
    font-size: 1.9rem;
  }

  .pco__description p {
    font-size: 1.6rem;
  }

  .pay__content:last-child {
    width: 50%;
  }
}

/* Star Codes Section */
.codes__container {
  padding: 0 1.6rem;
  margin: 72px 0;
}

.codes__header h2 {
  font-size: 2.4rem;
}

.codes__header p {
  font-size: 1.6rem;
}

.codes__input {
  display: flex;
  border-radius: 5px;
  position: relative;
}

.codes__input label {
  color: #000000;
  font-size: 1.6rem;
  position: absolute;
  top: 25%;
  z-index: 0;
  padding-left: 12px;
  text-align: left;
}

.codes__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.6rem;
}

.codes__description p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .codes__container {
    width: 50%;
    margin: 12rem 0;
    margin-left: 16.6667%;
  }

  .codes__header h2 {
    font-size: 2.8rem;
  }

  .codes__header p {
    font-size: 1.8rem;
  }

  .codes__description p {
    font-size: 1.6rem;
  }
}

/* Question Section */
.questions__container {
  margin-bottom: 7.2rem;
  padding: 0 1.6rem;
}

.questions__container h2 {
  font-size: 2.4rem;
}

.questions__container p {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .questions__container {
    width: 50%;
    margin-bottom: 12rem;
    margin-left: 16.6667%;
  }

  .questions__container h2 {
    font-size: 2.8rem;
  }

  .questions__container p {
    font-size: 1.6rem;
  }
}

/* About Section */
.section__about {
  background-color: var(--background-color__headings);
  padding: 2rem 1.6rem;
}

.about__container {
  margin-top: 1rem;
}

.about__item {
  margin-bottom: 1rem;
}

.section__about h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: #777;
  padding-bottom: 1.6rem;
  margin: 0;
}

.section__about p {
  font-size: 1.3rem;
  letter-spacing: 0.4px;
  padding-bottom: 1.6rem;
  margin: 0;
}

.about__container:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .section__about h2 {
    font-size: 1.4rem;
  }

  .section__about p {
    font-size: 1.4rem;
  }

  .about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }
}

/* Banner */
.banner {
  background-color: var(--green-darker);
  box-shadow: 0 0 2px 1px #999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 2rem;
}

.banner h1 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 0.3rem 2rem;
  }
}

/* Navigation Bar */
.nav__container {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 2rem;
}

.nav__logo img {
  height: 71px;
  width: 71px;
}

.nav__list ul {
  padding: 0;
}

.nav__list li {
  list-style: none;
  display: inline-block;
  padding-left: 1.5rem;
}

.nav__list a {
  color: #444;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__links {
  margin-left: 3.5rem;
}

.nav__links img {
  height: 18px;
  width: 20px;
  margin-right: 0.2rem;
}

.link-location {
  color: #444;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  margin-right: 1rem;
}

.nav__links button {
  margin-right: 1rem;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
