html {
  font-size: 62.5%;
}

:root {
  /* Color Pallete */
  --green-darker: #1e3932;
  --green-lighter: #00754a;
  --green-lighter--hover: #008248;
  --background-color__content: #d4e9e2;
  --background-color__headings: #f3f1e7;
  --background-color__article: #f1f8f6;
  --color-accent: #000000;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/* Buttons */
.btn {
  background: none;
  border-radius: 50px;
  border: 0.2px solid #000000;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
}

.btn--primary {
  background-color: var(--green-lighter);
  border-color: var(--green-lighter);
  color: #fff;
  transition: 0.2s ease;
}

.btn--primary:hover {
  background-color: var(--green-lighter--hover);
  border-color: var(--green-lighter--hover);
}

.btn--secondary {
  background-color: var(--green-darker);
  border-color: #fff;
  color: #fff;
  opacity: 0.9;
  transition: 0.2s ease;
}

.btn--secondary:hover {
  background-color: #26443d;
}

.btn--accent {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: #fff;
  transition: 0.2s ease;
}

.btn--accent:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.btn--accent--secondary {
  background-color: none;
  color: var(--color-accent);
  border-color: var(--color-accent);
  transition: 0.2s ease;
}

.btn--accent--secondary:hover {
  background-color: var(--background-color__headings);
}

/* Links */
.link-text {
  font-weight: 400;
  text-decoration: underline;
}

.link-text:hover {
  text-decoration: none;
}

.link-text--primary {
  color: var(--green-lighter);
  text-decoration-color: var(--green-lighter);
  opacity: 0.8;
}

.link-text--accent {
  color: var(--color-accent);
  text-decoration-color: var(--color-accent);
  opacity: 1;
  letter-spacing: 0.75px;
}

/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  background-image: url(/Content/images/hero__mobile.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: none;
  /*FIXME: make height right under 765px*/
  height: 500px;
  width: 100%;
}

.hero__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 765px) {
  .hero {
    background-image: url(/Content/images/hero-desktop.png);
    background-color: var(--background-color__content);
    background-position-x: 60%;
    align-items: flex-start;
  }

  .hero__container {
    margin: auto 2rem;
    align-items: flex-start;
  }
}

.hero__heading {
  font-size: 2.8rem;
  letter-spacing: 0.5px;
  margin: 16px 0 0 0;
  text-align: center;
  text-transform: uppercase;
}

.hero__text {
  margin: 18px 0 0 0;
}

.hero__button {
  margin: 26px 0 0 0;
}

.hero__link-text {
  margin: 16px 0 0 0;
}

@media screen and (min-width: 765px) {
  .hero__heading {
    font-size: 3.6rem;
    text-align: left;
    line-height: 5rem;
    font-weight: 600;
    opacity: 0.85;
  }

  .hero__text {
    font-size: 1.9rem;
  }

  .hero__button {
    font-size: 1.6rem;
  }

  .hero__link-text {
    font-size: 1.9rem;
  }
}
