.r-option {
    cursor: pointer;
    position: relative;
    padding: 0.6rem 2rem;
    border-bottom: 4px solid transparent;
    border-radius: 4px;
    transition: all .3s ease-out;
}

.r-option.sl {
    border-bottom: 4px solid var(--green-lighter);
}

.rewards__content {
    background-color: var(--background-color__content);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0;
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
}

.rewards__content.vs {
    padding: 3rem;
    max-height: fit-content;
    visibility: visible;
    opacity: 1;
}