.r-option {
    cursor: pointer;
    position: relative;
    padding: 0.6rem 2rem
}

.r-option.sl::after {
    content: "";
    background-color: var(--green-lighter);
    border-radius: 100px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}