<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RewardSite-Playground</title>
    <link rel="stylesheet" href="/CSS/normalize.css" />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <link rel="stylesheet" href="/CSS/playground.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer__info">
        <div class="footer-el">
          <div class="fe__header">
            <h3>About Us</h3>
            <img src="/Content/icons/down-arrow.svg">
          </div>
          <div class="fe__content">
            <ul class="fe__list">
              <li class="fe__item"><a href="#">Our Company</a></li>
              <li class="fe__item"><a href="#">Our Coffe</a></li>
              <li class="fe__item"><a href="#">Stories and News</a></li>
              <li class="fe__item"><a href="#">Starbucks Archive</a></li>
              <li class="fe__item"><a href="#">Investor Relations</a></li>
              <li class="fe__item"><a href="#">Customer Service</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-el">
          <div class="fe__header">
            <h3>Careers</h3>
            <img src="/Content/icons/down-arrow.svg">
          </div>
          <div class="fe__content">
            <ul class="fe__list">
              <li class="fe__item"><a href="#">Culture and Values</a></li>
              <li class="fe__item"><a href="#">Inclusion, Diversity, and Equity</a></li>
              <li class="fe__item"><a href="#">College Achivement Plan</a></li>
              <li class="fe__item"><a href="#">Alumni Community</a></li>
              <li class="fe__item"><a href="#">U.S. Careers</a></li>
              <li class="fe__item"><a href="#">International Careers</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-el">
          <div class="fe__header">
            <h3>Social Impact</h3>
            <img src="/Content/icons/down-arrow.svg">
          </div>
          <div class="fe__content">
            <ul class="fe__list">
              <li class="fe__item"><a href="#">People</a></li>
              <li class="fe__item"><a href="#">Planet</a></li>
              <li class="fe__item"><a href="#">Environmental and Social Impact Reporting</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-el">
          <div class="fe__header">
            <h3>For Business Partners</h3>
            <img src="/Content/icons/down-arrow.svg">
          </div>
          <div class="fe__content">
            <ul class="fe__list">
              <li class="fe__item"><a href="#">Landlord Support Center</a></li>
              <li class="fe__item"><a href="#">Suppliers</a></li>
              <li class="fe__item"><a href="#">Corporate Gift Card Sales</a></li>
              <li class="fe__item"><a href="#">Office and Foodservice Coffee</a></li>
            </ul>
          </div>
        </div>
        <div class="footer-el">
          <div class="fe__header">
            <h3>Order and Pickup</h3>
            <img src="/Content/icons/down-arrow.svg">
          </div>
          <div class="fe__content">
            <ul class="fe__list">
              <li class="fe__item"><a href="#">Order on the App</a></li>
              <li class="fe__item"><a href="#">Order on the Web</a></li>
              <li class="fe__item"><a href="#">Delivery</a></li>
              <li class="fe__item"><a href="#">Order and Pickup Options</a></li>
              <li class="fe__item"><a href="#">Explore and Find Coffee for Home</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer__extras">
        <div class="fex-social">
          <a href="#"><img src="/Content/icons/spotify-logo.svg"></a>
          <a href="#"><img src="/Content/icons/facebook-logo.svg"></a>
          <a href="#"><img src="/Content/icons/pinterest-logo.svg"></a>
          <a href="#"><img src="/Content/icons/instagram-logo.svg"></a>
          <a href="#"><img src="/Content/icons/youtube-logo.svg"></a>
          <a href="#"><img src="/Content/icons/twitter-logo.svg"></a>
        </div>
        <div class="fex-other">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms of Use</a>
          <a href="#">CA Supply Act</a>
          <a href="#">Cookie Preferences</a>
        </div>
        <p class="fex-copyright">© 2022 Starbucks Coffee Company. All Rights reserved</p>
      </div>
    </footer>
  </body>
  <script src="test.js"></script>
</html>
