<nav class="nav">
  <div class="nav__container">
    <div class="nav__logo">
      <a href="/"><img src="/Content/icons/Starbucks.svg" /></a>
    </div>
    <div class="menu-btn">
      <div class="menu-btn__burger"></div>
    </div>
    <div class="nav-content">
      <div class="nav__list">
        <ul>
          <li><a href="/menu">Menu</a></li>
          <li><a href="/rewards">Rewards</a></li>
          <li><a href="/gift">Gift Cards</a></li>
        </ul>
      </div>
      <div class="nav__links">
        <a href="#" class="link-location"
          ><img src="/Content/icons/location.svg" />Find a store</a
        >
        <button class="btn btn--accent--secondary">Sign in</button>
        <a href="#" class="btn btn--accent">Join now</a>
      </div>
    </div>
  </div>
</nav>
