<section class="section__codes">
  <div class="codes">
    <div class="codes__header">
      <h2>Star Codes</h2>
      <p>
        Yesssss. You've got Stars in your hand. Enter your code here and we'll
        add Stars to your account.
      </p>
    </div>
    <form action="#">
      <div class="codes__input">
        <!--TODO: When you learn JavaScript make an animation for this-->
        <label for="starCode">Enter your Star Code</label>
        <input type="text" class="inp inp--codes" />
      </div>
      <div class="codes__btn">
        <button class="btn btn--accent--secondary">Submit</button>
      </div>
    </form>
    <div class="codes__description">
      <p>Have a receipt but don't have a code?</p>
      <p>
        Go to
        <a href="#" class="link-text link-text--primary">starbuck-stars.com</a>
        to upload your receipt and collect your Stars.
      </p>
    </div>
  </div>
</section>
